body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.btn {
  width: 200px;
  height: 200px;
  background-color: #3f9957;
  color: #ffffff;
  border: 5px solid #788078;
  transition: transform 0.2s, box shadow 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgba(66, 135, 245, 0.3);
}
